<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review-Analyzer | A Tool For Classifying Reviews</title>
</head>

<body>
    <h4>Review Text:</h4>
    <div id="data">{{ Data }}</div>
    <p>{{ Review }}</p>
    <style>
        p {
            text-align: center;
            font-size: 40px;
            font-family: monospace;
            color: blue;
        }
        
        body {
            background: linear-gradient(to right, rgb(21, 255, 110), rgb(180, 240, 230));
        }
        
        #data {
            font-size: 20px;
            font-family: monospace;
        }
    </style>
</body>

</html>